ENV=prod
I2C_BUS=1
PH_ADDR=0x63
EC_ADDR=0x64
RTD_ADDR=0x66

PH_SETPOINT=5.9
PH_DEADBAND=0.1
PH_UP_MAX_SEC=2
PH_UP_COOLDOWN_SEC=90

RELAY_PH_UP=5
RELAY_GROW=6
RELAY_MICRO=13
RELAY_BLOOM=19
RELAY_MAIN_PUMP=26
RELAY_CHILLER_PUMP=16
RELAY_CHILLER=20
RELAY_LIGHTS=21

MAIN_PUMP_ON=1
CHILLER_PUMP_ON=1
HOST=0.0.0.0
PORT=8080

# NEW
SAMPLE_INTERVAL_SEC=10
FORCE_MOCK_SENSORS=0