[Unit]
Description=Run RDWC Morning Report Daily
Requires=rdwc-morning-report.service

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target